<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_hand_left">
  <material name="white">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <link name="left_hand_base"/>
  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1_hands.urdf.xacro"/>
  <xacro:g1_left_hand_urdf/>
</robot>
