<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_mujoco">
  <xacro:arg name="initial_positions_file" default="$(find g1_mujoco_description)/config/initial_positions.yaml"/>
  <xacro:arg name="robot_model" default="g1"/>
  <xacro:arg name="mujoco_model_file" default="auto"/>

  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1_29dof.urdf"/>
  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1_hands.urdf.xacro"/>
  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1.ros2_control.xacro"/>

  <link name="world"/>
  <joint name="world_to_pelvis" type="fixed">
    <parent link="world"/>
    <child link="pelvis"/>
    <origin xyz="0 0 0.793" rpy="0 0 0"/>
  </joint>

  <link name="left_hand_base"/>
  <joint name="left_hand_base_joint" type="fixed">
    <parent link="left_wrist_yaw_link"/>
    <child link="left_hand_base"/>
    <origin xyz="0.05 0 0" rpy="0 -1.57079632679 0"/>
  </joint>

  <link name="right_hand_base"/>
  <joint name="right_hand_base_joint" type="fixed">
    <parent link="right_wrist_yaw_link"/>
    <child link="right_hand_base"/>
    <origin xyz="0.05 0 0" rpy="0 -1.57079632679 0"/>
  </joint>

  <xacro:g1_optional_hands robot_model="$(arg robot_model)"/>

  <xacro:g1_mujoco_ros2_control
    name="g1_mujoco"
    initial_positions_file="$(arg initial_positions_file)"
    robot_model="$(arg robot_model)"
    mujoco_model_file="$(arg mujoco_model_file)"/>
</robot>
