<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_mujoco">
  <xacro:arg name="initial_positions_file" default="$(find g1_mujoco_description)/config/initial_positions.yaml"/>
  <xacro:arg name="mujoco_model_file" default="g1_29dof_fixed.xml"/>

  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1_29dof.urdf"/>
  <xacro:include filename="$(find g1_mujoco_description)/urdf/g1.ros2_control.xacro"/>

  <xacro:g1_mujoco_ros2_control
    name="g1_mujoco"
    initial_positions_file="$(arg initial_positions_file)"
    mujoco_model_file="$(arg mujoco_model_file)"/>
</robot>
