<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw_bg2_follower">
  <xacro:property name="meshes_file_direction" value="package://ai_worker_mujoco_description/meshes/$(arg model)" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="model" default="ffw_bg2_rev3_follower" />

  <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/common/follower/ffw_follower_body.xacro" />

  <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/common/rh_p12_rn_a/rh_p12_rn_a.urdf.xacro" />

  <link name="world"/>

  <joint name="$(arg prefix)world_fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="$(arg prefix)base_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${meshes_file_direction}/base_mobile_assy.stl" scale="0.001 0.001 0.001" />
        </geometry>
          <material name="silver">
              <color rgba="0.75 0.75 0.75 1"/>
          </material>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${meshes_file_direction}/base_mobile_assy.stl" scale="0.001 0.001 0.001" />
        </geometry>
    </collision>
    <inertial>
        <origin xyz="-4.215593900e-02 1.414784900e-03 5.544221100e-01" />
        <mass value="7.208755500e+01" />
        <inertia ixx="2.239045300e+01" ixy="-1.263524100e-02" ixz="2.036407800e+00" iyy="2.283017500e+01" iyz="3.941520900e-02" izz="2.211418500e+00" />
    </inertial>
  </link>

  <xacro:ffw_follower_body parent="$(arg prefix)base_link" prefix="$(arg prefix)">
    <origin xyz="0.053 0 1.2846" rpy="0 0 0" />
  </xacro:ffw_follower_body>

  <xacro:rh_p12_rn_a parent="$(arg prefix)arm_l_link7" prefix="$(arg prefix)gripper_l_">
    <origin xyz="0 0 -0.05" rpy="0 3.14159265359 3.14159265359"/>
  </xacro:rh_p12_rn_a>

  <xacro:rh_p12_rn_a parent="$(arg prefix)arm_r_link7" prefix="$(arg prefix)gripper_r_">
    <origin xyz="0 0 -0.05" rpy="0 3.14159265359 3.14159265359"/>
  </xacro:rh_p12_rn_a>

</robot>
