<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ai_worker_mujoco">
  <xacro:arg name="robot_model" default="ffw_bg2"/>
  <xacro:arg name="initial_positions_file" default="$(find ai_worker_mujoco_description)/config/initial_positions.yaml"/>
  <xacro:property name="robot_model" value="$(arg robot_model)"/>

  <xacro:if value="${robot_model == 'ffw_bg2'}">
    <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/ffw_bg2_rev4_follower/ffw_bg2_follower.urdf.xacro"/>
  </xacro:if>
  <xacro:if value="${robot_model == 'ffw_bh5'}">
    <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/ffw_bh5_rev1_follower/ffw_bh5_follower.urdf.xacro"/>
  </xacro:if>
  <xacro:if value="${robot_model == 'ffw_sg2'}">
    <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/ffw_sg2_rev1_follower/ffw_sg2_follower.urdf.xacro"/>
  </xacro:if>
  <xacro:if value="${robot_model == 'ffw_sh5'}">
    <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/ffw_sh5_rev1_follower/ffw_sh5_follower.urdf.xacro"/>
  </xacro:if>

  <xacro:include filename="$(find ai_worker_mujoco_description)/urdf/ai_worker.ros2_control.xacro"/>

  <xacro:ai_worker_mujoco_ros2_control
    name="ai_worker_mujoco"
    initial_positions_file="$(arg initial_positions_file)"
    robot_model="${robot_model}"/>
</robot>
