<?xml version='1.0' encoding='utf-8'?>
<robot name="rb20_1800e_u">
  <link name="link0">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link0.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link0.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link1.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link1.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000042 -0.009244 -0.056956" />
      <mass value="16.468" />
      <inertia ixx="0.094802941" ixy="-1.3925e-05" ixz="6.4576e-05" iyy="0.092251249" iyz="0.008441432" izz="0.073748476" />
    </inertial>
  </link>
  <link name="link2">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link2.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link2.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000029 0.038287 0.332417" />
      <mass value="33.747" />
      <inertia ixx="4.909489784" ixy="6.8741e-05" ixz="7.1185e-05" iyy="4.867973885" iyz="0.11546255" izz="0.183620047" />
    </inertial>
  </link>
  <link name="link3">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link3.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link3.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000022 0.170556 0.382100" />
      <mass value="8.402" />
      <inertia ixx="0.801800545" ixy="8.172e-06" ixz="7.7278e-05" iyy="0.800242396" iyz="-0.00283844" izz="0.018264165" />
    </inertial>
  </link>
  <link name="link4">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link4.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link4.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000098 -0.126711 0.032313" />
      <mass value="1.924" />
      <inertia ixx="0.002587684" ixy="1.668e-06" ixz="1.1058e-05" iyy="0.002405925" iyz="0.000148422" izz="0.002057003" />
    </inertial>
  </link>
  <link name="link5">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link5.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link5.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000098 -0.032313 0.126711" />
      <mass value="1.924" />
      <inertia ixx="0.002587684" ixy="1.1058e-05" ixz="1.668e-06" iyy="0.002057003" iyz="0.000148422" izz="0.002405925" />
    </inertial>
  </link>
  <link name="link6">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/visual/link6.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb20_1800e_u/collision/link6.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000164 -0.099056 -0.000008" />
      <mass value="0.677" />
      <inertia ixx="0.000871591" ixy="-2.55e-07" ixz="9.83e-07" iyy="0.001160824" iyz="-2.581e-06" izz="0.000873779" />
    </inertial>
  </link>
  <link name="tcp" />
  <joint name="base" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.241" />
    <parent link="link0" />
    <child link="link1" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="shoulder" type="revolute">
    <origin rpy="0 0 0" xyz="0 -0.2545 0" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="elbow" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.885" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0.1875 0.7858" />
    <parent link="link3" />
    <child link="link4" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist2" type="revolute">
    <origin rpy="0 0 0" xyz="0 -0.1292 0" />
    <parent link="link4" />
    <child link="link5" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.1292" />
    <parent link="link5" />
    <child link="link6" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="tcp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.13 0" />
    <parent link="link6" />
    <child link="tcp" />
  </joint>
</robot>