<?xml version='1.0' encoding='utf-8'?>
<robot name="rb6_1700e_u">
  <link name="link0">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link0.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link0.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link1.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link1.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000022 -0.008087 -0.042227" />
      <mass value="8.356" />
      <inertia ixx="0.027492394" ixy="-5.675e-06" ixz="-1.0003e-05" iyy="0.027770576" iyz="0.003088853" izz="0.026245784" />
    </inertial>
  </link>
  <link name="link2">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link2.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link2.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000012 0.030051 0.30427" />
      <mass value="16.542" />
      <inertia ixx="2.064684886" ixy="-1.2583e-05" ixz="-7.8349e-05" iyy="2.087602443" iyz="0.034272843" izz="0.054672987" />
    </inertial>
  </link>
  <link name="link3">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link3.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link3.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000052 0.139099 0.433734" />
      <mass value="6.431" />
      <inertia ixx="0.618762051" ixy="1.0397e-05" ixz="5.105e-05" iyy="0.617886626" iyz="0.007702789" izz="0.012854901" />
    </inertial>
  </link>
  <link name="link4">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link4.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link4.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000124 -0.113978 0.026418" />
      <mass value="2.066" />
      <inertia ixx="0.002724762" ixy="-3.11e-07" ixz="1.3522e-05" iyy="0.002726881" iyz="0.000142385" izz="0.002178559" />
    </inertial>
  </link>
  <link name="link5">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link5.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link5.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000124 -0.026397 0.113946" />
      <mass value="2.065" />
      <inertia ixx="0.002721032" ixy="1.3518e-05" ixz="3.87e-07" iyy="0.002175641" iyz="0.000139695" izz="0.002724543" />
    </inertial>
  </link>
  <link name="link6">
    <visual>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/visual/link6.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rbpodo_mujoco_description/meshes/rb6_1700e_u/collision/link6.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000208 -0.092542 -0.000292" />
      <mass value="0.406" />
      <inertia ixx="0.000345291" ixy="5.72e-07" ixz="6.61e-07" iyy="0.000532783" iyz="-5.4e-08" izz="0.000339905" />
    </inertial>
  </link>
  <link name="tcp" />
  <joint name="base" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.197" />
    <parent link="link0" />
    <child link="link1" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="shoulder" type="revolute">
    <origin rpy="0 0 0" xyz="0 -0.1875 0" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="elbow" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.8127" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0.1514 0.77015" />
    <parent link="link3" />
    <child link="link4" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist2" type="revolute">
    <origin rpy="0 0 0" xyz="0 -0.11715 0" />
    <parent link="link4" />
    <child link="link5" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="wrist3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.11715" />
    <parent link="link5" />
    <child link="link6" />
    <axis xyz="0 1 0" />
    <limit effort="10" lower="-3.14" upper="3.14" velocity="3.14" />
  </joint>
  <joint name="tcp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.1153 0" />
    <parent link="link6" />
    <child link="tcp" />
  </joint>
</robot>