<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_aloha_piper">
  <xacro:property name="mesh_root"
                  value="package://mobile_aloha_mujoco_description/mjcf/piper/assets"/>
  <xacro:property name="official_mesh_root"
                  value="package://mobile_aloha_mujoco_description/mjcf/official"/>

  <material name="black">
    <color rgba="0.08 0.10 0.12 1"/>
  </material>
  <material name="piper_gray">
    <color rgba="0.59 0.59 0.59 1"/>
  </material>
  <material name="body_white">
    <color rgba="0.79 0.82 0.93 1"/>
  </material>

  <xacro:macro name="piper_link" params="name mesh">
    <link name="${name}">
      <!-- Dynamics come from the MJCF model; this inertia supports URDF consumers. -->
      <inertial>
        <mass value="0.2"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual>
        <geometry><mesh filename="${mesh_root}/${mesh}"/></geometry>
        <material name="piper_gray"/>
      </visual>
      <collision>
        <geometry><mesh filename="${mesh_root}/${mesh}"/></geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="piper" params="prefix parent xyz gripper_prefix finger_origin">
    <xacro:piper_link name="${prefix}_base_link" mesh="base_link.stl"/>
    <joint name="${prefix}_base_joint" type="fixed">
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${prefix}_base_link"/>
    </joint>

    <xacro:piper_link name="${prefix}_link1" mesh="link1.stl"/>
    <joint name="${prefix}_joint1" type="revolute">
      <origin xyz="0 0 0.123" rpy="0 0 -1.5708"/>
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_link1"/>
      <axis xyz="0 0 1"/>
      <limit lower="-2.618" upper="2.618" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link2" mesh="link2.stl"/>
    <joint name="${prefix}_joint2" type="revolute">
      <origin xyz="0 0 0" rpy="1.5708 -0.034907 -1.5708"/>
      <parent link="${prefix}_link1"/>
      <child link="${prefix}_link2"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="3.14" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link3" mesh="link3.stl"/>
    <joint name="${prefix}_joint3" type="revolute">
      <origin xyz="0.28358 0.028726 0" rpy="0 0 0.06604341"/>
      <parent link="${prefix}_link2"/>
      <child link="${prefix}_link3"/>
      <axis xyz="0 0 1"/>
      <limit lower="-2.697" upper="0" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link4" mesh="link4.stl"/>
    <joint name="${prefix}_joint4" type="revolute">
      <origin xyz="-0.24221 0.068514 0" rpy="-1.5708 0 1.3826"/>
      <parent link="${prefix}_link3"/>
      <child link="${prefix}_link4"/>
      <axis xyz="0 0 1"/>
      <limit lower="-1.832" upper="1.832" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link5" mesh="link5.stl"/>
    <joint name="${prefix}_joint5" type="revolute">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <parent link="${prefix}_link4"/>
      <child link="${prefix}_link5"/>
      <axis xyz="0 0 1"/>
      <limit lower="-1.22" upper="1.22" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link6" mesh="${gripper_prefix}_link6.stl"/>
    <joint name="${prefix}_joint6" type="revolute">
      <origin xyz="0 0.091 0.0014165" rpy="-1.5708 -1.5708 0"/>
      <parent link="${prefix}_link5"/>
      <child link="${prefix}_link6"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="100" velocity="3"/>
    </joint>

    <xacro:piper_link name="${prefix}_link7" mesh="${gripper_prefix}_link7.stl"/>
    <joint name="${prefix}_joint7" type="prismatic">
      <origin xyz="${finger_origin}" rpy="1.5708 0 1.5708"/>
      <parent link="${prefix}_link6"/>
      <child link="${prefix}_link7"/>
      <axis xyz="0 0 -1"/>
      <limit lower="0" upper="0.035" effort="10" velocity="1"/>
    </joint>

    <xacro:piper_link name="${prefix}_link8" mesh="${gripper_prefix}_link8.stl"/>
    <joint name="${prefix}_joint8" type="prismatic">
      <origin xyz="${finger_origin}" rpy="-1.5708 0 1.5708"/>
      <parent link="${prefix}_link6"/>
      <child link="${prefix}_link8"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.035" upper="0" effort="10" velocity="1"/>
      <mimic joint="${prefix}_joint7" multiplier="-1" offset="0"/>
    </joint>

    <link name="${prefix}_ee_link"/>
    <joint name="${prefix}_ee_joint" type="fixed">
      <origin xyz="${finger_origin}" rpy="0 0 0"/>
      <parent link="${prefix}_link6"/>
      <child link="${prefix}_ee_link"/>
    </joint>
  </xacro:macro>

  <link name="base_link">
    <inertial>
      <mass value="30"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1.2" iyz="0" izz="1.5"/>
    </inertial>
    <visual>
      <geometry><mesh filename="${official_mesh_root}/tracer_base.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <collision><geometry><box size="0.68 0.57 0.16"/></geometry></collision>
  </link>

  <link name="body_link">
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_0.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_1.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_2.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_3.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_4.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_5.STL"/></geometry>
      <material name="body_white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.168" rpy="0 0 ${pi}"/>
      <geometry><mesh filename="${official_mesh_root}/body_6.STL"/></geometry>
      <material name="body_white"/>
    </visual>
  </link>
  <joint name="body_joint" type="fixed">
    <origin xyz="0 0 -0.15"/>
    <parent link="base_link"/>
    <child link="body_link"/>
  </joint>

  <xacro:macro name="wheel" params="side y">
    <link name="${side}_wheel_link">
      <inertial>
        <mass value="1"/>
        <inertia ixx="0.004" ixy="0" ixz="0" iyy="0.004" iyz="0" izz="0.004"/>
      </inertial>
      <visual>
        <origin rpy="${pi / 2} 0 0"/>
        <geometry><cylinder radius="0.075" length="0.07"/></geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin rpy="${pi / 2} 0 0"/>
        <geometry><cylinder radius="0.075" length="0.07"/></geometry>
      </collision>
    </link>
    <joint name="${side}_wheel_joint" type="continuous">
      <origin xyz="0 ${y} -0.075"/>
      <parent link="base_link"/>
      <child link="${side}_wheel_link"/>
      <axis xyz="0 1 0"/>
      <limit effort="50" velocity="20"/>
    </joint>
  </xacro:macro>

  <xacro:wheel side="left" y="0.30"/>
  <xacro:wheel side="right" y="-0.30"/>

  <link name="arm_mount_link"/>
  <joint name="arm_mount_joint" type="fixed">
    <origin xyz="-0.070 0 0.562"/>
    <parent link="base_link"/>
    <child link="arm_mount_link"/>
  </joint>

  <xacro:piper prefix="fl" parent="base_link" xyz="0.23875 0.3 0.625"
               gripper_prefix="follower" finger_origin="0 0 0.13503"/>
  <xacro:piper prefix="fr" parent="base_link" xyz="0.23875 -0.3 0.625"
               gripper_prefix="follower" finger_origin="0 0 0.13503"/>
  <xacro:piper prefix="bl" parent="base_link" xyz="-0.379 0.3075 0.751"
               gripper_prefix="leader" finger_origin="0 -0.043177 0.0685"/>
  <xacro:piper prefix="br" parent="base_link" xyz="-0.379 -0.3075 0.751"
               gripper_prefix="leader" finger_origin="0 -0.043177 0.0685"/>
</robot>
