<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rby1_wuji_hand2">
  <xacro:arg name="side" default="left" />
  <xacro:property name="side" value="$(arg side)" />
  <xacro:include filename="$(find rby1_mujoco_description)/urdf/wuji_hand2_beta2/${side}_with_mount-ros.urdf" />
  <link name="${side}_flange" />
  <!-- Hand2 uses the official mount frame, without the Hand1 docking adapter. -->
  <joint name="${side}_wuji_mount_joint" type="fixed">
    <parent link="${side}_flange" />
    <child link="${side[0]}_mount" />
    <origin xyz="0 0 0" rpy="0 -1.570796326794897 0" />
  </joint>
</robot>
