<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="position_joint"
    params="joint_name initial_positions include_temperature:=false">
    <joint name="${joint_name}">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">${initial_positions[joint_name]}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
      <xacro:if value="${include_temperature}">
        <state_interface name="temperature">
          <param name="initial_value">0.0</param>
        </state_interface>
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="velocity_joint"
    params="joint_name initial_positions include_temperature:=false">
    <joint name="${joint_name}">
      <command_interface name="velocity" />
      <state_interface name="position">
        <param name="initial_value">${initial_positions[joint_name]}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
      <xacro:if value="${include_temperature}">
        <state_interface name="temperature">
          <param name="initial_value">0.0</param>
        </state_interface>
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="rby1_mujoco_ros2_control"
    params="name robot_model robot_version initial_positions_file">
    <xacro:property name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}" />
    <xacro:property name="include_temperature" value="false" />

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
        <xacro:if value="${robot_model == 'a' or robot_model == 'm'}">
          <param name="mujoco_model">$(find rby1_mujoco_description)/mjcf/rby1${robot_model}/model_act_${robot_version}.xml</param>
        </xacro:if>
        <xacro:if value="${robot_model == 'ub'}">
          <param name="mujoco_model">$(find rby1_mujoco_description)/mjcf/rby1${robot_model}/model_act.xml</param>
        </xacro:if>
        <param name="sim_speed_factor">1.0</param>
        <param name="headless">false</param>
      </hardware>

      <xacro:if value="${robot_model == 'a'}">
        <xacro:velocity_joint joint_name="right_wheel" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:velocity_joint joint_name="left_wheel" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_0" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_1" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_2" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_3" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_4" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_5" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
      </xacro:if>

      <xacro:if value="${robot_model == 'm'}">
        <xacro:velocity_joint joint_name="wheel_fr" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:velocity_joint joint_name="wheel_fl" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:velocity_joint joint_name="wheel_rr" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:velocity_joint joint_name="wheel_rl" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_0" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_1" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_2" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_3" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_4" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_5" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
      </xacro:if>

      <xacro:if value="${robot_model == 'ub'}">
        <xacro:position_joint joint_name="torso_hp" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
        <xacro:position_joint joint_name="torso_5" initial_positions="${initial_positions}"
          include_temperature="${include_temperature}" />
      </xacro:if>

      <xacro:position_joint joint_name="right_arm_0" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_1" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_2" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_3" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_4" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_5" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="right_arm_6" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />

      <xacro:position_joint joint_name="left_arm_0" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_1" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_2" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_3" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_4" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_5" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_arm_6" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />

      <xacro:position_joint joint_name="right_trigger" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="left_trigger" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />

      <xacro:position_joint joint_name="head_0" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
      <xacro:position_joint joint_name="head_1" initial_positions="${initial_positions}"
        include_temperature="${include_temperature}" />
    </ros2_control>
  </xacro:macro>
</robot>
